#title{
    font-family: 'Cookie', cursive;
    font-size: 30px;
  }
 .insta_footer a{
   color: #003569;
   font: inherit;
   font-family: 'Oswald', sans-serif;
   margin-right: 10px;
 }
 .sore_img img{
   width: 150px;
 }

 #login{
  font-family: 'Cookie', cursive;
  font-size: 40px;
 }